In [6]:
import pandas as pd
import numpy as np
import datapurifier as dp
from datapurifier import Nlpurifier, NLAutoPurifier

In [7]:
data = {"examples": ["ALL UPPERCASE LETTERS", "@special #characters with punctuations! ?",
                         "having   multiple   spaces", "<html>text under html tag</html>", "Áccěntěd těxt",
                         "I have many stop words, so try and remove me the a an is",
                         "mu phone number is 1234567890", "paris101 is the best", np.nan]}

df = pd.DataFrame(data, columns=["examples"])
df

                                            examples
0                              ALL UPPERCASE LETTERS
1          @special #characters with punctuations! ?
2                         having   multiple   spaces
3                   <html>text under html tag</html>
4                                      Áccěntěd těxt
5  I have many stop words, so try and remove me t...
6                      mu phone number is 1234567890
7                               paris101 is the best
8                                                NaN

In [8]:
pure_df = NLAutoPurifier(df, target = "examples")

Dataframe contains 9 rows and 1 columns

Dropping rows having [' ', 'NULL', numpy.nan] values
Total Null rows dropped: 1

Starting execution of 'lower' function, Please wait...
Finished execution of 'lower' function in 0.001 secs

Starting execution of 'remove_numbers' function, Please wait...
Finished execution of 'remove_numbers' function in 0.001 secs

Starting execution of 'remove_html_tags' function, Please wait...
Finished execution of 'remove_html_tags' function in 0.004 secs

Starting execution of 'convert_accented_chars_to_normal' function, Please wait...
Finished execution of 'convert_accented_chars_to_normal' function in 0.001 secs

Starting execution of 'remove_special_and_punctions' function, Please wait...
Finished execution of 'remove_special_and_punctions' function in 0.001 secs

Starting execution of 'remove_stop_words' function, Please wait...
Finished execution of 'remove_stop_words' function in 0.001 secs

Starting execution of 'remove_multiple_spaces' function, Please wait...
Finished execution of 'remove_multiple_spaces' function in 0.001 secs


Purifying Completed!

In [9]:
# pure_df = pure.df
pure_df["original_examples"] = df["examples"]
cols = pure_df.columns.tolist()
cols = cols[-1:] + cols[:-1]
pure_df = pure_df[cols]
pure_df

,original_examples,examples
0,ALL UPPERCASE LETTERS,uppercase letters
1,@special #characters with punctuations! ?,special characters punctuations
2,having multiple spaces,having multiple spaces
3,<html>text under html tag</html>,text html tag
4,Áccěntěd těxt,accented text
5,"I have many stop words, so try and remove me t...",stop words try remove
6,mu phone number is 1234567890,mu phone number
7,paris101 is the best,paris best