In [1]:
from termcolor import colored
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import ipywidgets as widgets
import ipywidgets

import datapurifier as dp
from datapurifier import Mleda
from datapurifier import Nlpeda
from datapurifier import Nlpurifier

%matplotlib inline
# sns.set_theme(style="darkgrid")

## Nlp EDA Testing

In [2]:
# nlp_df = pd.read_csv("datasets/twitter16m.csv", header=None, encoding='latin-1')
# nlp_df = nlp_df[[5,0]] # selecting only the tweets column and the sentiment
# nlp_df.columns = ["tweets","sentiment"]
# nlp_df.head()

nlp_df = pd.read_csv("datasets/womens_clothing_e-commerce_reviews.csv")
nlp_df = nlp_df[["Review Text", "Positive Feedback Count"]]
nlp_df.columns = ["review", "rating"]
nlp_df.head()

                                              review  rating
0  Absolutely wonderful - silky and sexy and comf...       0
1  Love this dress!  it's sooo pretty.  i happene...       4
2  I had such high hopes for this dress and reall...       0
3  I love, love, love this jumpsuit. it's fun, fl...       0
4  This shirt is very flattering to all due to th...       6

In [3]:
nlp_df.isnull().sum()

review    845
rating      0
dtype: int64

In [9]:
# eda = Nlpeda(nlp_df, "tweets", analyse="basic")

# eda = Nlpeda(nlp_df, "review", analyse="basic")
eda = Nlpeda(nlp_df, "review", analyse="word")

Dataframe contains 23486 rows and 2 columns


Null Information of Dataframe:

  column_name  null_rows  null_percentage
0      review        845         3.597888

Please select to 'drop all null rows', to continue analysis of data.

interactive(children=(Checkbox(value=False, description='Drop all null rows'), Output()), _dom_classes=('widge…

In [7]:
eda.bigram_df

              bigram  frequence
0          true size       1347
1         love dress        766
2       usually wear        691
3        looks great        620
4      fit perfectly        609
5         size small        540
6     fits perfectly        489
7         usual size        479
8          look like        425
9         just right        423
10      ordered size        375
11         love love        374
12        looks like        373
13        runs large        367
14  highly recommend        365
15        super cute        363
16         wear size        361
17       fabric soft        350

In [10]:
data = { "examples": ["ALL UPPERCASE LETTERS","hi, i'd be happy with u", "hi my email is email@email.com",
                     "hi my website is https://google.com", "@special #characters with punctuations! ?",
                     "having   multiple   spaces", "<html>text under html tag</html>", "Áccěntěd těxt",
                     "I have many stop words, so try and remove me", "base form example: run ran running runs",
                      np.nan, "1234567890 is my number", "paris101 is the best" ]} 

df = pd.DataFrame(data, columns = ["examples"])
df

                                        examples
0                          ALL UPPERCASE LETTERS
1                        hi, i'd be happy with u
2                 hi my email is email@email.com
3            hi my website is https://google.com
4      @special #characters with punctuations! ?
5                     having   multiple   spaces
6               <html>text under html tag</html>
7                                  Áccěntěd těxt
8   I have many stop words, so try and remove me
9        base form example: run ran running runs
10                                           NaN
11                       1234567890 is my number
12                          paris101 is the best

In [11]:
# pure = Nlpurifier(nlp_df, "tweets")
pure = Nlpurifier(df, "examples")

GridspecLayout(children=(Checkbox(value=False, description='Drop Null Rows', indent=False, layout=Layout(grid_…

Button(description='Start Purifying', style=ButtonStyle())

Dataframe contains 13 rows and 1 columns

Dropping rows having [' ', 'NULL', numpy.nan] values
Total Null rows dropped: 1

Starting execution of 'lower' function, Please wait...
Finished execution of 'lower' function in 0.001 secs

Starting execution of 'contraction_to_expansion' function, Please wait...
Finished execution of 'contraction_to_expansion' function in 0.003 secs

Starting execution of 'count_emails' function, Please wait...
Finished execution of 'count_emails' function in 0.314 secs

Starting execution of 'count_urls' function, Please wait...
Finished execution of 'count_urls' function in 0.001 secs

Starting execution of 'get_word_count' function, Please wait...
type <obj>.word_count for getting word count series
Finished execution of 'get_word_count' function in 0.001 secs

Starting execution of 'remove_numbers' function, Please wait...
Finished execution of 'remove_numbers' function in 0.000 secs

Starting execution of 'remove_html_tags' function, Please wait...
Finished execution of 'remove_html_tags' function in 0.002 secs

Starting execution of 'remove_emails' function, Please wait...
Finished execution of 'remove_emails' function in 0.000 secs

Starting execution of 'remove_urls' function, Please wait...
Finished execution of 'remove_urls' function in 0.000 secs

Starting execution of 'remove_multiple_spaces' function, Please wait...
Finished execution of 'remove_multiple_spaces' function in 0.000 secs

Starting execution of 'remove_accented_chars' function, Please wait...
Finished execution of 'remove_accented_chars' function in 0.010 secs

Starting execution of 'remove_special_and_punctions' function, Please wait...
Finished execution of 'remove_special_and_punctions' function in 0.000 secs


Purifying Completed!

type <obj>.df to access processed and purified dataframe

In [12]:
df

                                        examples
0                          ALL UPPERCASE LETTERS
1                        hi, i'd be happy with u
2                 hi my email is email@email.com
3            hi my website is https://google.com
4      @special #characters with punctuations! ?
5                     having   multiple   spaces
6               <html>text under html tag</html>
7                                  Áccěntěd těxt
8   I have many stop words, so try and remove me
9        base form example: run ran running runs
10                                           NaN
11                       1234567890 is my number
12                          paris101 is the best

In [14]:
pure.df

,examples,emails,emails_counts,urls_counts,original_examples
0,all uppercase letters,[],0,0,ALL UPPERCASE LETTERS
1,hi i would be happy with u,[],0,0,"hi, i'd be happy with u"
2,hi my email is,[email@email.com],1,0,hi my email is email@email.com
3,hi my website is,[],0,1,hi my website is https://google.com
4,special characters with punctuations,[],0,0,@special #characters with punctuations! ?
5,having multiple spaces,[],0,0,having multiple spaces
6,text under html tag,[],0,0,<html>text under html tag</html>
7,accented text,[],0,0,Áccěntěd těxt
8,i have many stop words so try and remove me,[],0,0,"I have many stop words, so try and remove me"
9,base form example run ran running runs,[],0,0,base form example: run ran running runs
10,is my number,[],0,0,NaN
11,paris is the best,[],0,0,1234567890 is my number

In [13]:
pure_df = pure.df
pure_df["original_examples"] = df["examples"]
cols = pure_df.columns.tolist()
cols = cols[-1:] + cols[:-1]
pure_df = pure_df[cols]
pure_df

,original_examples,examples,emails,emails_counts,urls_counts
0,ALL UPPERCASE LETTERS,all uppercase letters,[],0,0
1,"hi, i'd be happy with u",hi i would be happy with u,[],0,0
2,hi my email is email@email.com,hi my email is,[email@email.com],1,0
3,hi my website is https://google.com,hi my website is,[],0,1
4,@special #characters with punctuations! ?,special characters with punctuations,[],0,0
5,having multiple spaces,having multiple spaces,[],0,0
6,<html>text under html tag</html>,text under html tag,[],0,0
7,Áccěntěd těxt,accented text,[],0,0
8,"I have many stop words, so try and remove me",i have many stop words so try and remove me,[],0,0
9,base form example: run ran running runs,base form example run ran running runs,[],0,0
10,NaN,is my number,[],0,0
11,1234567890 is my number,paris is the best,[],0,0

## Test on real dataset

In [ ]:
store_df = pd.read_csv("datasets/womens_clothing_e-commerce_reviews.csv")
store_df = store_df[["Review Text", "Positive Feedback Count"]]
store_df.columns = ["review", "rating"]
store_df.head()

In [ ]:
store_df.shape

In [ ]:
store_df["review"].isin([' ', 'NULL', np.nan]).sum()

In [ ]:
store_df.dropna(inplace=True)
store_df.reset_index(drop=True, inplace=True)
store_df["review"].isin([' ', 'NULL', np.nan]).sum()

In [ ]:
store_df.shape

In [ ]:
store_df.iloc[90:100,:]

In [ ]:
store_df.reset_index[90:]

In [ ]:
sns.get_dataset_names()

In [ ]:
df = sns.load_dataset("iris")
df.head()

In [ ]:
# Checking termcolor

# print(colored("Hello World", "green"))
# print(colored("Hello World", "red"))
# print(colored("Hello World", "red",attrs=['bold']))
# print(colored("Hello World", "blue"))

In [ ]:
# df = pd.read_csv("./datasets/SampleSuperstore.csv")
# df = pd.read_csv("./datasets/iris.csv")
# df = pd.read_csv("./datasets/Bengaluru_House_Data.csv")

In [ ]:
mleda = Mleda(df)
mleda

In [ ]:
# help(aa)
# print(MLeda.__doc__)
# print(help(MLeda))
# print(dir(MLeda))

In [ ]:
mleda.cat_cols

In [ ]:
mleda.num_cols

In [ ]:
# ae.sample(df)

In [ ]:
# For value count
# n = 10
# for col in df.columns:
#     print(df[col].value_counts().index.tolist()[:n])

## Widget Testing

In [ ]:
# Value Count Plot

# columns = df.columns
# column_dropdown = ipywidgets.Dropdown(options=columns,
#                                 value=columns[0],
#                                 description='Columns:',
#                                 disabled=False)

# top_columns = widgets.IntSlider(
#     value=5,
#     min=1,
#     max=35,
#     step=1,
#     description='Top Columns:',
#     disabled=False,
#     continuous_update=True,
#     orientation='horizontal',
#     readout=True,
#     readout_format='d'
# )

# items = [column_dropdown, top_columns]
# value_count_ui = widgets.HBox(items)

# def value_counts_plot(column, n):
#     plt.figure(figsize=(10,5))
#     sns.barplot(x = df[column].value_counts().index.tolist()[:n], y = df[column].value_counts().tolist()[:n])
#     plt.xticks(rotation=75)
#     plt.ylabel("count")
#     plt.xlabel(column)
#     print("\nTop Columns with most common values are: ")
#     print(df[column].value_counts().index.tolist()[:n])

# out = widgets.interactive_output(value_counts_plot, {'column': column_dropdown, 'n': top_columns})

# display(value_count_ui, out)

In [ ]:
# Pie Plot
# cat_col = df.select_dtypes(include="O").columns.tolist()

# cat_column_dropdown = ipywidgets.Dropdown(options=cat_col,
#                                 value=cat_col[0],
#                                 description='Columns:',
#                                 disabled=False)
# def pie_plot(column):
#     plt.figure(figsize=(10,5))
#     df[column].value_counts().plot.pie(
#             autopct="%1.1f%%")

# ipywidgets.interact(pie_plot, column=cat_column_dropdown);

In [ ]:
# sns.pairplot(df, hue="Species")

In [ ]:
## Jointplot

# col = df.columns
# column_dropdown1 = ipywidgets.Dropdown(options=col,
#                                 value=col[0],
#                                 description='Columns:',
#                                 disabled=False)

# column_dropdown2 = ipywidgets.Dropdown(options=col,
#                                 value=col[0],
#                                 description='Columns:',
#                                 disabled=False)

# kind =  ["scatter","kde","hist","hex","reg","resid"]

# kind_dropdown = ipywidgets.Dropdown(options=kind,
#                                 value=kind[0],
#                                 description='Kind:',
#                                 disabled=False)

# items = [column_dropdown1, column_dropdown2, kind_dropdown]
# joint_plot_ui = widgets.HBox(items)

# def plot_joinplot(x,y,kind):
#     sns.jointplot(x=x, y=y,kind=kind, data=df)

# output = widgets.interactive_output(plot_joinplot, {'x': column_dropdown1, 'y': column_dropdown2, 'kind':kind_dropdown})

# display(joint_plot_ui, output)

In [ ]:
## Distribution plot
numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
num_col = df.select_dtypes(include=numerics).columns

plt.figure(figsize=(16,14))
for i, col in enumerate(num_col,1):
    plt.subplot(3,3,i)
    sns.distplot(df[col], norm_hist= False)