In [1]:
from termcolor import colored
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import ipywidgets as widgets
import ipywidgets
import re

import datapurifier as dp
from datapurifier import Mleda
from datapurifier import Nlpeda
from datapurifier import Nlpurifier

%matplotlib inline
# sns.set_theme(style="darkgrid")

In [2]:
dp.get_dataset_names()

['air-passengers',
 'automobile',
 'boston-housing',
 'breast-cancer',
 'diabetes',
 'gdp-per-cap',
 'german-credit',
 'iris',
 'pima-indians-diabetes',
 'sample_superstore',
 'tips',
 'titanic',
 'us-arrests',
 'womens_clothing_e-commerce_reviews',
 'zoo']

In [3]:
dp.get_text_dataset_names()

['womens_clothing_e-commerce_reviews']

In [5]:
df = dp.load_dataset("womens_clothing_e-conmmere_reviews")
df.head()

Exception: Please provide correct dataset name
For seeing all dataset available execute 'dp.get_dataset_names()' and then pass one of the dataset names as parameter to function

In [2]:
data = { "examples": ["ALL UPPERCASE LETTERS","hi, i'd be happy with u", "hi my email is email@email.com",
                     "hi my website is https://google.com", "@special #characters with punctuations! ?",
                     "having   multiple   spaces", "<html>text under html tag</html>", "Áccěntěd těxt",
                     "I have many stop words, so try and remove me", "base form example: run ran running runs",
                      "1234567890 is my number", "paris101 is the best", "game is on 🔥🔥", "Hilarious😂", "Hello :-)" ]} 

## Dataset with null values
# data = { "examples": ["ALL UPPERCASE LETTERS","hi, i'd be happy with u", "hi my email is email@email.com",
#                      "hi my website is https://google.com", "@special #characters with punctuations! ?",
#                      "having   multiple   spaces", "<html>text under html tag</html>", "Áccěntěd těxt",
#                      "I have many stop words, so try and remove me", "base form example: run ran running runs",
#                       np.nan, "1234567890 is my number", "paris101 is the best", "game is on 🔥🔥", "Hilarious😂", "Hello :-)" ]} 

df = pd.DataFrame(data, columns = ["examples"])
df

                                        examples
0                          ALL UPPERCASE LETTERS
1                        hi, i'd be happy with u
2                 hi my email is email@email.com
3            hi my website is https://google.com
4      @special #characters with punctuations! ?
5                     having   multiple   spaces
6               <html>text under html tag</html>
7                                  Áccěntěd těxt
8   I have many stop words, so try and remove me
9        base form example: run ran running runs
10                       1234567890 is my number
11                          paris101 is the best
12                                 game is on 🔥🔥
13                                    Hilarious😂
14                                     Hello :-)

In [3]:
# pure = Nlpurifier(nlp_df, "tweets")
pure = Nlpurifier(df, "examples")

GridspecLayout(children=(Checkbox(value=False, description='Drop Null Rows', indent=False, layout=Layout(grid_…

Button(description='Start Purifying', style=ButtonStyle())

Dataframe contains 15 rows and 1 columns

There is no null rows present.

Starting execution of 'lower' function, Please wait...
Finished execution of 'lower' function in 0.002 secs

Starting execution of 'remove_emojis' function, Please wait...
Finished execution of 'remove_emojis' function in 0.015 secs

Starting execution of 'remove_emoticons' function, Please wait...
Finished execution of 'remove_emoticons' function in 0.018 secs


Purifying Completed!

type <obj>.df to access processed and purified dataframe

In [4]:
pure.df

                                        examples
0                          all uppercase letters
1                        hi, i'd be happy with u
2                 hi my email is email@email.com
3              hi my website is https/google.com
4      @special #characters with punctuations! ?
5                     having   multiple   spaces
6               <html>text under html tag</html>
7                                  áccěntěd těxt
8   i have many stop words, so try and remove me
9        base form example: run ran running runs
10                       1234567890 is my number
11                          paris101 is the best
12                                   game is on
13                                     hilarious
14                                        hello

In [5]:
pure_df = pure.df
pure_df["original_examples"] = df["examples"]
cols = pure_df.columns.tolist()
cols = cols[-1:] + cols[:-1]
pure_df = pure_df[cols]
pure_df

,original_examples,examples
0,ALL UPPERCASE LETTERS,all uppercase letters
1,"hi, i'd be happy with u","hi, i'd be happy with u"
2,hi my email is email@email.com,hi my email is email@email.com
3,hi my website is https://google.com,hi my website is https/google.com
4,@special #characters with punctuations! ?,@special #characters with punctuations! ?
5,having multiple spaces,having multiple spaces
6,<html>text under html tag</html>,<html>text under html tag</html>
7,Áccěntěd těxt,áccěntěd těxt
8,"I have many stop words, so try and remove me","i have many stop words, so try and remove me"
9,base form example: run ran running runs,base form example: run ran running runs
10,1234567890 is my number,1234567890 is my number
11,paris101 is the best,paris101 is the best
12,game is on 🔥🔥,game is on
13,Hilarious😂,hilarious
14,Hello :-),hello

In [13]:
df

                                        examples
0                          ALL UPPERCASE LETTERS
1                        hi, i'd be happy with u
2                 hi my email is email@email.com
3            hi my website is https://google.com
4      @special #characters with punctuations! ?
5                     having   multiple   spaces
6               <html>text under html tag</html>
7                                  Áccěntěd těxt
8   I have many stop words, so try and remove me
9        base form example: run ran running runs
10                       1234567890 is my number
11                          paris101 is the best
12                                 game is on 🔥🔥
13                                    Hilarious😂
14                                     Hello :-)

In [15]:
pure.df

,examples,original_examples
0,ALL UPPERCASE LETTERS,ALL UPPERCASE LETTERS
1,"hi, i'd be happy with u","hi, i'd be happy with u"
2,hi my email is email@email.com,hi my email is email@email.com
3,hi my website is https/google.com,hi my website is https://google.com
4,@special #characters with punctuations! ?,@special #characters with punctuations! ?
5,having multiple spaces,having multiple spaces
6,<html>text under html tag</html>,<html>text under html tag</html>
7,Áccěntěd těxt,Áccěntěd těxt
8,"I have many stop words, so try and remove me","I have many stop words, so try and remove me"
9,base form example: run ran running runs,base form example: run ran running runs
10,1234567890 is my number,1234567890 is my number
11,paris101 is the best,paris101 is the best
12,game is on,game is on 🔥🔥
13,Hilarious,Hilarious😂
14,Hello,Hello :-)

## Nlp EDA Testing

In [ ]:
# nlp_df = pd.read_csv("datasets/twitter16m.csv", header=None, encoding='latin-1')
# nlp_df = nlp_df[[5,0]] # selecting only the tweets column and the sentiment
# nlp_df.columns = ["tweets","sentiment"]
# nlp_df.head()

nlp_df = pd.read_csv("datasets/womens_clothing_e-commerce_reviews.csv")
nlp_df = nlp_df[["Review Text", "Positive Feedback Count"]]
nlp_df.columns = ["review", "rating"]
nlp_df.head()

In [ ]:
nlp_df.isnull().sum()

In [ ]:
# eda = Nlpeda(nlp_df, "tweets", analyse="basic")

# eda = Nlpeda(nlp_df, "review", analyse="basic")
eda = Nlpeda(nlp_df, "review", analyse="word")

In [ ]:
eda.bigram_df

## Test on real dataset

In [ ]:
store_df = pd.read_csv("datasets/womens_clothing_e-commerce_reviews.csv")
store_df = store_df[["Review Text", "Positive Feedback Count"]]
store_df.columns = ["review", "rating"]
store_df.head()

In [ ]:
store_df.shape

In [ ]:
store_df["review"].isin([' ', 'NULL', np.nan]).sum()

In [ ]:
store_df.dropna(inplace=True)
store_df.reset_index(drop=True, inplace=True)
store_df["review"].isin([' ', 'NULL', np.nan]).sum()

In [ ]:
store_df.shape

In [ ]:
store_df.iloc[90:100,:]

In [ ]:
store_df.reset_index[90:]

In [ ]:
sns.get_dataset_names()

In [ ]:
df = sns.load_dataset("iris")
df.head()

In [ ]:
# Checking termcolor

# print(colored("Hello World", "green"))
# print(colored("Hello World", "red"))
# print(colored("Hello World", "red",attrs=['bold']))
# print(colored("Hello World", "blue"))

In [ ]:
# df = pd.read_csv("./datasets/SampleSuperstore.csv")
# df = pd.read_csv("./datasets/iris.csv")
# df = pd.read_csv("./datasets/Bengaluru_House_Data.csv")

In [ ]:
mleda = Mleda(df)
mleda

In [ ]:
# help(aa)
# print(MLeda.__doc__)
# print(help(MLeda))
# print(dir(MLeda))

In [ ]:
mleda.cat_cols

In [ ]:
mleda.num_cols

In [ ]:
# ae.sample(df)

In [ ]:
# For value count
# n = 10
# for col in df.columns:
#     print(df[col].value_counts().index.tolist()[:n])

## Widget Testing

In [ ]:
# Value Count Plot

# columns = df.columns
# column_dropdown = ipywidgets.Dropdown(options=columns,
#                                 value=columns[0],
#                                 description='Columns:',
#                                 disabled=False)

# top_columns = widgets.IntSlider(
#     value=5,
#     min=1,
#     max=35,
#     step=1,
#     description='Top Columns:',
#     disabled=False,
#     continuous_update=True,
#     orientation='horizontal',
#     readout=True,
#     readout_format='d'
# )

# items = [column_dropdown, top_columns]
# value_count_ui = widgets.HBox(items)

# def value_counts_plot(column, n):
#     plt.figure(figsize=(10,5))
#     sns.barplot(x = df[column].value_counts().index.tolist()[:n], y = df[column].value_counts().tolist()[:n])
#     plt.xticks(rotation=75)
#     plt.ylabel("count")
#     plt.xlabel(column)
#     print("\nTop Columns with most common values are: ")
#     print(df[column].value_counts().index.tolist()[:n])

# out = widgets.interactive_output(value_counts_plot, {'column': column_dropdown, 'n': top_columns})

# display(value_count_ui, out)

In [ ]:
# Pie Plot
# cat_col = df.select_dtypes(include="O").columns.tolist()

# cat_column_dropdown = ipywidgets.Dropdown(options=cat_col,
#                                 value=cat_col[0],
#                                 description='Columns:',
#                                 disabled=False)
# def pie_plot(column):
#     plt.figure(figsize=(10,5))
#     df[column].value_counts().plot.pie(
#             autopct="%1.1f%%")

# ipywidgets.interact(pie_plot, column=cat_column_dropdown);

In [ ]:
# sns.pairplot(df, hue="Species")

In [ ]:
## Jointplot

# col = df.columns
# column_dropdown1 = ipywidgets.Dropdown(options=col,
#                                 value=col[0],
#                                 description='Columns:',
#                                 disabled=False)

# column_dropdown2 = ipywidgets.Dropdown(options=col,
#                                 value=col[0],
#                                 description='Columns:',
#                                 disabled=False)

# kind =  ["scatter","kde","hist","hex","reg","resid"]

# kind_dropdown = ipywidgets.Dropdown(options=kind,
#                                 value=kind[0],
#                                 description='Kind:',
#                                 disabled=False)

# items = [column_dropdown1, column_dropdown2, kind_dropdown]
# joint_plot_ui = widgets.HBox(items)

# def plot_joinplot(x,y,kind):
#     sns.jointplot(x=x, y=y,kind=kind, data=df)

# output = widgets.interactive_output(plot_joinplot, {'x': column_dropdown1, 'y': column_dropdown2, 'kind':kind_dropdown})

# display(joint_plot_ui, output)

In [ ]:
## Distribution plot
numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
num_col = df.select_dtypes(include=numerics).columns

plt.figure(figsize=(16,14))
for i, col in enumerate(num_col,1):
    plt.subplot(3,3,i)
    sns.distplot(df[col], norm_hist= False)